[Unit]
Description=Photo Spool (background import service)
PartOf=graphical-session.target
After=graphical-session.target
StartLimitIntervalSec=60
StartLimitBurst=5

[Service]
Type=notify
NotifyAccess=main
WatchdogSec=60
ExecStart=/usr/bin/photo-spool --start-hidden
Restart=on-failure
RestartSec=5

[Install]
WantedBy=graphical-session.target
